
/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅768px以内) */
/*#######################################################*/
/*ウィンドウサイズが 768px以内の場合に上書きされる*/
@media screen and (max-width: 768px) {
}

/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅480px以内) */
/* - iPhone6/7/8/X */
/*#######################################################*/
@media screen and (max-width: 480px) {
  .topBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25vw;
    background: rgb(255, 255, 255);
  
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  }
  .topBar .siteTitle{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14vw;
    font-weight: bolder;
    border-width: 1px;
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg,#40E0D0,#FF8C00,#FF0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .topBar .modeSwitch{
    position: absolute;
    top: 8vw;
    right: 1vw;
  }
  .topBar .modeSwitch .topModeChange{
    width: 50px;
    height: 50px;
  }
  .topBar .userStatus{
    position: absolute;
    top: 5px;
    right: 3vw;
  }
  .topBar .userStatus .userIcon{
    width: 6vw;
    height: 6vw;
  }
  .topBar .modeSwitch .topModeChange-Sagasu{
    position: absolute;
    top: 0vw;
    right:18vw;
    width: 60px;
    height:60px;  
    border-radius: 50%;
    line-height: 60px;
    text-align:center;
    font-size: 13px;
    font-weight: bolder;
    padding:0px;
    color: #fff;
    background-color: #FFA500;
    -webkit-box-shadow: 0 7px 0 #ff8c00;
    box-shadow: 0 7px 0 #ff8c00;
  }
  .topBar .modeSwitch .topModeChange-Sagasu:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 5px 0 #ff8c00;
    box-shadow: 0 5px 0 #ff8c00;
  }
  
  .topBar .modeSwitch .topModeChange-Sagasu-hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 5px 0 #ff8c00;
    background-color: #ffa60080;
  } 
  .topBar .modeSwitch .topModeChange-Amari{
    position: absolute;
    top: 0vw;
    right:0vw;
    width: 60px;
    height:60px;  
    border-radius: 50%;
    line-height: 60px;
    text-align:center;
    font-size: 13px;
    font-weight: bolder;
    padding:0px;
    color: #fff;
    background-color: #FFA500;
    -webkit-box-shadow: 0 7px 0 #ff8c00;
    box-shadow: 0 7px 0 #ff8c00;
  }
  .topBar .modeSwitch .topModeChange-Amari:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 5px 0 #ff8c00;
    box-shadow: 0 5px 0 #ff8c00;
  } 
  .topBar .modeSwitch .topModeChange-Amari-hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 5px 0 #ff8c00;
    background-color: #ffa60080;
  } 
  .contents {
    position: absolute;
    top: 25vw;
    left: 0px;
    width: 100%;
    height: calc(100% - 25vw);
    background: #fff;
  
    border-left: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  }

  .SearchBar{
    width: 60vw;
    height: 25px;
    margin: 20px; 
  }

  .contents div.sidebar {
    position: fixed;
    top: 120px;
    width: 100%;
    height: 150px;
    background: rgb(255, 255, 255);
  
    border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  
    animation: SlideDown 1.0s;  /* ★スライドUPアニメーション */
  }

  /*****************************************************/
  /* [アマリ]情報 */
  /*****************************************************/
  #speechBubble{
    width: 90%;
    height: 80vw;
    background-color: rgb(247, 248, 248);
  }
  #AmariFormEdit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* height: 500px; */
    padding: 10px;
    background-color: rgb(247, 248, 248);
  }
  .AmariForm .currentPointArea{
    width: 100%;
    height: 80%;
    border-style: outset;
    border-color: rgb(134, 134, 134);
    margin-bottom: 20px;
  }
}


