
.switchMftMode{
  font-size      : xx-small;                /* 文字サイズ         */
  font-weight    : bold  ;
}


 /* === ボタンを表示するエリア ============================== */
 .switchArea {
  line-height    : 18px;                /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : x-small;                /* 文字サイズ         */
  font-weight    : bold  ;

  position       : relative;            /* 親要素が基点       */
  margin         : left;                /* 中央寄せ           */
  width          : 46px;               /* ボタンの横幅       */
  background     : #fff;                /* デフォルト背景色   */
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 22px;                /* ボタンの高さ       */
  border         : 2px solid #999999;   /* 未選択タブのの枠線 */
  border-radius  : 30px;                /* 角丸               */
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color   : #bd7878;             /* 選択タブの枠線     */
}

 /* === 表示する文字（標準） ================================ */
.switchArea label span:after{
  content        : "OFF";               /* 表示する文字       */
  padding        : 0 0 0 14px;          /* 表示する位置       */
  color          : #999999;             /* 文字色             */
}

 /* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
  content        : "ON";                /* 表示する文字       */
  padding        : 0 14px 0 0;          /* 表示する位置       */
  color          : #bd7878;             /* 文字色             */
}

 /* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position       : absolute;            /* 親要素からの相対位置*/
  width          : 14px;                /* 丸の横幅           */
  height         : 14px;                /* 丸の高さ           */
  background     : #999999;             /* カーソルタブの背景 */
  top            : 4px;                 /* 親要素からの位置   */
  left           : 4px;                 /* 親要素からの位置   */
  border-radius  : 26px;                /* 角丸               */
  transition     : .2s;                 /* 滑らか変化         */
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform      : translateX(24px);    /* 丸も右へ移動       */
  background     : #bd7878;             /* カーソルタブの背景 */
}


.tweetBubble {
  padding: 10px;
  border: 0px;
}

/* infowindowのCSS */
/*
.gm-style-iw {
  width: 250px !important;
  top: 30px !important;
  left: 130px !important;
  background-color: #fff;
}
#content {
	width: 250px;
}
.firstHeading {
	background-color: #4285F4;
}
.firstHeading {
	color: #fff;
	margin: 0;
	padding: 10px;
}
#bodyContent {
	padding: 10px;
	font-size: 16px;
}

.closebtn {
	width: 30px!important;
  height: 30px!important;
  opacity: 1!important;
  right: 35px!important;
  top: 0!important;
}
.closebtn img {
	display: none;
}
.fa-times-circle {
	padding: 0;
	font-size: 28px!important;
	color: #000099;
}
*/