
/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅768px以内) */
/*#######################################################*/
/*ウィンドウサイズが 768px以内の場合に上書きされる*/
@media screen and (max-width: 768px) {
}

/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅480px以内) */
/* - iPhone6/7/8/X */
/*#######################################################*/
@media screen and (max-width: 480px) {
    .sagasuWindow {
        width: 200px;
        height: 300px;
    }
    /* 投稿画像 */
    img.sagasuWindowPic{
        display: block;
        margin: auto;
        width: auto;    /* 横幅を割合で指定　grid 5行 × 20px = 100px. 300px/400pxに余裕を持たせて70% */
        height: 100px;  /* 高さは自動指定 */
        margin-bottom: 2px;
        border: 1px solid #ccc;
    }
    .sagasuWindowGrid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        /* grid-auto-rows: minmax(20px, auto); 高さ */
        grid-auto-rows: 20px; /* 高さ */
        grid-auto-columns: 20x;
        row-gap: 2px;
    }
    /* ユーザアイコン */
    .sagasuWindowGrid .sagasuWindowUserIcon{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    img.sagasuWindowUserIcon{
        display: block;
        margin: auto;
        width: 40px;
        height: 40px;
    }
    /* ユーザリンク */
    .sagasuWindowGrid .sagasuWindowUserLink{
        grid-column: 9 / 11;
        grid-row: 1 / 2;
    }
    img.sagasuWindowUserLink{
        width: 35px;
        height: 35px;
    }
    /* ボタン */
    .sagasuWindowGrid .sagasuWindowGood{
        grid-column: 5 / 5;
        grid-row: 1 / 1;
    }
    img.sagasuWindowGood{
        width: 20px;
        height: 20px;
    }
    .sagasuWindowGrid .sagasuWindowGoodCnt{
        grid-column: 7 / 8;
        grid-row: 1 / 1;
        margin: auto;
    }
    .sagasuWindowGrid .sagasuWindowBad{
        grid-column: 5 / 5;
        grid-row: 2 / 2;
    }
    img.sagasuWindowBad{
        width: 20px;
        height: 20px;
    }
    .sagasuWindowGrid .sagasuWindowBadCnt{
        grid-column: 7 / 8;
        grid-row: 2 / 2;
        margin: auto;
    }
    /* ユーザ名 */
    .sagasuWindowGrid .sagasuWindowUserName{
        grid-column: 1 / 11;
        grid-row: 3 / 3;
        overflow: clip clip;
    }
    /* カテゴリ */
    .sagasuWindowGrid .sagasuWindowCategory{
        grid-column: 1 / 11;
        grid-row: 4 / 4;
    }
    /* 期限 */
    .sagasuWindowGrid .sagasuWindowDeadTime{
        grid-column: 1 / 11;
        grid-row: 5 / 5;
    }
    /* コメント */
    .sagasuWindowGrid .sagasuWindowComment{
        grid-column: 1 / 11;
        grid-row: 6 / 9;
        border: 1px solid #ccc;
        overflow-y: auto;
    }
}
