
/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅768px以内) */
/*#######################################################*/
/*ウィンドウサイズが 768px以内の場合に上書きされる*/
@media screen and (max-width: 768px) {
}

/*#######################################################*/
/* スマホ縦画面(ウィンドウ幅480px以内) */
/* - iPhone6/7/8/X */
/*#######################################################*/
@media screen and (max-width: 480px) {
  .topBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    background: rgb(255, 255, 255);
  
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  }
  .contents {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
  
    border-top: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  }

  .topBar .modeSwitch{
    position: absolute;
    top: 60px;
    right: 30px;
  }
  
  .topBar .modeSwitch .topModeChange{
    width: 50px;
    height: 50px;
  }
  .topBar .userStatus .userIcon{
    width: 40px;
    height: 40px;
  }

  
  .contents div.sidebar {
    position: fixed;
    top: 120px;
    width: 100%;
    height: 150px;
    background: rgb(255, 255, 255);
  
    border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
  
    animation: SlideDown 1.0s;  /* ★スライドUPアニメーション */
  }
  
}


