 .topBar .modeSwitch .TreasureHunt-Amari{
  position: absolute;
  top: 20px;
  right:100px;
  width: 60px;
  height:60px;  
  /* border-radius: 50%; */
  line-height: 60px;
  text-align:center;
  font-size: 13px;
  font-weight: bolder;
  padding:0px;
  color: #fff;
  background-color: #FFA500;
  -webkit-box-shadow: 0 7px 0 #ff8c00;
  box-shadow: 0 7px 0 #ff8c00;
  
}

#btnAmari a{
  background: url(../image/takara.png);
}

.topBar .modeSwitch .TreasureHunt-Amari:hover{
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 5px 0 #ff8c00;
  box-shadow: 0 5px 0 #ff8c00;
} 
.topBar .modeSwitch .TreasureHunt-Amari-hover{
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 5px 0 #ff8c00;
  background-color: #ffa60080;
} 

/* 吹き出し */
.treasureWindowGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-auto-rows: minmax(20px, auto); 高さ */
  grid-auto-rows: 20px; /* 高さ */
  grid-auto-columns: 40px;
  row-gap: 2px;
}
/* ボタン */
.treasureWindowGrid .treasureGetButton{
  grid-column: 1 / 5;
  grid-row: 1 / 10;
  background-size: 160px;
  background-repeat: no-repeat;
  margin-left:30px;
  margin-top:10px;
}
/* .treasureWindowGrid .treasureGetButton-negative{
  background-image: url(../image/getTreasureButton.svg);
  -webkit-animation: 0.4s linear 0s 1 alternate button-circle-reverse;
}
.treasureWindowGrid .treasureGetButton-active{
  background-image: url(../image/getTreasureButton.svg);
  -webkit-animation: 0.4s linear 0s 1 alternate button-circle;
} */
.treasureWindowGrid .treasureGetButton-negative{
  background-image: url(../image/getTreasureButton_negative.svg);
  animation: hoverShake 0.15s linear 10;
}
/* .treasureWindowGrid .treasureGetButton-negative:hover{
  animation: hoverShake 0.15s linear 3;
} */
.treasureWindowGrid .treasureGetButton-active{
  background-image: url(../image/getTreasureButton.svg);
  animation: hoverShake2 0.15s linear 3;
}
/* お宝タイトル */
.treasureWindowGrid .treasureTitle{
  grid-column: 5 / 11;
  grid-row: 1 / 1;
  overflow: clip clip;
}
/* お宝詳細 */
.treasureWindowGrid .treasureDetail{
  grid-column: 5 / 11;
  grid-row: 2 / 11;
  border: 1px solid #ccc;
  overflow-y: auto;
}

